html {
  height: 100%;
}

body {
  height: 100%;
}

.container {
  height: 100%;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;

  background-color: #cf2413;

  color: white;
}

.title {
  padding-left: 10px;
}

.headerControls {
  position: absolute !important;
  top: 15px;
  right: 20px;
}

.torrentUrlInput {
  z-index: 1;
  color: black;
}

.main {
  height: 100%;
  margin-top: 70px;
}

.leftBar {
  position: absolute;
  top: 70px;
  left: 0px;
  width: 15%;
  background-color: black;

  color: white;

  height: 100%;
}

.search {
  padding-top: 10px;
}

.search > button {
  margin-top: 5px;
}

.userList li {
  margin-bottom: 15px;
}

.userLabel {
  height: 20px;
  font-size: large !important;
}

.labelList li {
  margin-bottom: 15px;
}

.torrentLabel {
  height: 20px;
  font-size: large !important;
}

.listHeader {
  height: 40px;
  font-size: large;
}

.torrentList {
  margin-top: 70px;
  margin-left: 15%;
}

.torrentLine {
  height: 35px;

  font-size: large;
}

.torrentFiles {
  font-size: medium;
}

.torrentFiles td {
  border-top: none !important;
  padding-top: 0px !important;
}

.torrentFiles ul {
  padding-left: 5px;
  border-left: gray solid 1px;
}





.torrentDetails p {
  font-size: large;
}